{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'css/design_base.css' %}">
    </head>

<body>

<form action='{% url "elasticsearch_results" %}' method="GET">
    <input type="text" class="textbox" placeholder="Search" name='q'>
    <input title="Search" value="" type="submit" class="button">
</form>

</body>

</html>
