{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/design_search.css' %}">
    </head>
<body>



<ul class="square">
    <h1 align="center">Results of searching</h1>
    {% for result in search_result %}
        <li><p align="center"><font size="+2">{{ result.title }}</font></p></li>
        <li><p align="center"><font size="+2">{{ result.content }}</font></p</li>
    {% endfor %}
</ul>
</body>
</html>

 

